<h1>Features</h1>
<h2>Trackers: Design the flexible data inputs yourself</h2>
<div class="double_column">
  <div class="left horizontal_flex">
    <div>
      <img class="app_screen" src="/assets/images/features/tracker_list.jpg">
    </div>

    <div>
      <img class="app_screen" src="/assets/images/features/attribute_list.jpg">
    </div>
  </div>
  <div class="right">
    <p>
    You can design your own data format by configuring various data types such as number, text, time point, time range, choices, location, or audio records. <i>You can also change the configuration even if you've already been tracking data.</i>
    </p>
    <p>
      The configuration UI is user-friendly, similar to those of form-building systems such as Google Forms or Survey Monkey.
    </p>
  </div>
</div>

<h2>Services: Integrate external trackers and other services</h2>

<p>
  You can connect the external services to OmniTrack's data field. For example, you can connect <i>Fitbit step count</i> to a <i>number field</i>. When you open the input screen or conduct background logging, OmniTrack automatically load value from the connected service.
</p>
<div class="paragraph">
  <h3>Example Flow</h3>
  <div class="service_flow position_relative">
    <img class="image_paragraph full_width" src="/assets/images/features/service_flow.jpg">
    <div class="message message1">
      Synchronize Fitbit device with Fitbit app
    </div>
    <div class="message message2">
      Retrieve Step count into OmniTrack tracker field
    </div>
  </div>
</div>

<div class="paragraph">
  <h3>Currently Supported Measurements</h3>
  <div class="panel">
    <ul class="service_list">
      <li *ngFor="let service of externalServices">
        <a href="{{service.link}}" target=_blank><div class="name">{{service.name}}</div></a>
        <ul class="measure_list">
          <li *ngFor="let measure of service.measures">
            {{measure}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<h2>Triggers: Automate value retrieval and data logging</h2>
<div class="double_column">
  <div class="left">
    <img class="app_screen big" src="assets/images/features/trigger_editing.jpg">
  </div>
  <div class="right">
    <p>
      You can conduct an automatic tracking using <i>triggers</i>. Once triggers are fired, OmniTrack <u>retrieves tracking values from external services</u> and automatically logs the values.
    </p>
    <div class="paragraph">
      OmniTrack supports two types of triggers:
      <table class="trigger_types">
        <tr>
          <th>Time-based</th>
          <td>Time-based triggers are fired either at the preset time or at periodic intervals.</td>
        </tr>
        <tr>
          <th>Data-driven</th>
          <td>
            Data-driven triggers are fired when a value from the external service passes the threshold.
            <br>
            <i>Currently, data-driven trigger is under maintenance due to the battery drain issue. We'll release the feature soon.</i>
          </td>
        </tr>
        
      </table>
    </div>
  </div>
</div>

<h2>Streamline tracking by shortcuts, widgets, and reminders</h2>
<div class="paragraph">
  <ul class="horizontal_image_list">
    <li>
      <img src="/assets/images/features/shortcut_panel_crop.jpg">
    </li>
    <li>
      <img src="/assets/images/features/screen_widget.jpg">
    </li>
    <li>
      <img src="/assets/images/features/reminders.jpg">
    </li>
  </ul>
</div>
<p>
  OmniTrack offers functionalities which facilitate your tracking. By using a <i>shortcut panel</i> on notification list, you can quickly log your data without opening the application. You can either open the input page or log an item instantly with automatically filled values. If you mind your notification panel is occupied by the shortcut panel, consider using OmniTrack's <i>screen widgets</i> instead. 
  <br>
  If you made a tracker which you have to keep track of regularly (e.g., a diary), you can setup <i>reminders</i> which notifies you at specific time or at periodic intervals.
</p>

<h2>Visualization and feedback</h2>
<div class="double_column">
  <div class="left">
    <img class="app_screen visualization_dashboard" src="/assets/images/features/visualization_dashboard.png">
  </div>
  <div class="right">
    <p>
      You can review your raw data in an <i>item list</i>. If you want to obtain the holistic insights, visit the automatically curated <i>visualization page</i>.
    </p>
    <p>
      The visualization is automatically curated regarding the tracker's schema; i.e., What types of fields exist and how they are configured in the tracker.
    </p>
  </div>
</div>