<div id="main_banner">
  <div class="center_content content_padded">
    <div class="description">
      <div class="desc_headline">
        Keep track of omnithing in your life
      </div>
      <div class="desc_message">
        OmniTrack is a flexible self-tracking platform<br>which enables you to design your own tracker
      </div>
      <ul class="desc_features">
        <li>Design tracker in  an arbitrary data format</li>
        <li>Connect values from the external tracking services</li>
        <li>Automate data logging using triggers</li>
        <li>Safely store your data in Google Firebase server</li>
      </ul>
    </div>
  </div>
</div>
