@import "../../styles.scss";

$banner_layout_change_threshold: 1024px;

#main_banner{
    background: url("/assets/images/main_banner_background.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: relative;

    
    height: 429px;

    @include respond_to_max_width($banner_layout_change_threshold){
        height: inherit;
    }

    .center_content{
        position: relative;
        height: 100%;
    }

    .smartphone_wrapper{
        position: absolute;
        
            z-index: 0;
            bottom: -55px;
            right: -60px;

        
        @include respond_to_max_width($banner_layout_change_threshold){
            position: inherit;
            bottom: inherit;
            right: inherit;
        }

        .smartphone_device{
            position: relative;
            display: block;
            width: 756px;
            height: 508px;
            background-image: url("/assets/images/smartphone.png");
            background-repeat: no-repeat;
            
            
            @include respond_to_max_width($banner_layout_change_threshold){
                margin-bottom: -62px;
                left: 50%;
                transform: translate(-50%);
            }
        }
        

            img{

                top: 29px;
                left: 103px;
                position: absolute;
                
                
                @include respond_to_max_width($banner_layout_change_threshold){
                    display:flex;
                    align-self: center;
                }
            }

            .slide{
                animation: fade 30s linear infinite 0s;
                z-index: 10;
                opacity: 0;
            }
           
            .slide:nth-child(2) {
                animation-delay: 5s;
            }

            .slide:nth-child(3) {
                animation-delay: 10s;
            }

            .slide:nth-child(4) {
                animation-delay: 15s;
            }
            
            .slide:nth-child(5) {
                animation-delay: 20s;
            }
            
            .slide:nth-child(6) {
                animation-delay: 25s;
            }
    }

    .description{
        color: white;
        font-weight: 300;
        padding-top: 53px;
        z-index: 100;
        position: absolute;

        .desc_headline{
            font-size: 30pt;
            text-shadow: 0px 4px 6px rgba(120,0,0,0.4);
        }

        .desc_message{
            margin-top: 20px;
            font-size: 17pt;
            line-height: 2em;
            font-weight: 400;
        }

        .desc_features{
            padding-left: 24px;
            font-size: 14pt;
            li{
                margin-top: 0.7em;
            }

            li:first-child{
                margin-top: 0px;
            }
        }

        @include respond_to_max_width($banner_layout_change_threshold){
        
        position: initial;
           padding-top: 20px;
        }
        
        @include respond_to_mobile(){
           .desc_headline{
               font-size: 20pt;
           }

           .desc_message{
               font-size: 12pt;
               line-height: 1.5em;
           }

           .desc_features{
               font-size: 12pt;
           }
            
        }
    }
}

.google_play_button{
    position: relative;
    margin-top: 35px;
    @include respond_to_mobile(){
        margin-top:25px;
    }
    
    img{
        width: 220px;
       
        @include respond_to_mobile(){
            width: 180px;
        }
    }

    .message{
        display: inline-block;
        position: absolute;
        top:0px;
        left: 0px;
        font-weight: 600;
        font-size: 12pt;
        padding: 9px 21px;
        background: rgba(255,255,255,0.1);
        border-radius: 11px;
        border: 2px solid rgba(255,255,255,0.5);
       
        @include respond_to_mobile(){
            font-size: 11pt;
            padding: 7px 12px;
        }
    }

}