<h1 id="section_about">What Is OmniTrack?</h1>
<div class="double_column">
  <div class="video">
    <iframe class="content" src="https://www.youtube.com/embed/7EEACOPfw2k" frameborder="0" allowfullscreen></iframe>
  </div>


  <div class="text">
    <p>
      OmniTrack is a collaborative research project. OmniTrack is a mobile self-tracking system that enables self-trackers to construct their own trackers, thereby customizing tracking items to meet their individual needs.
    </p>
  </div>
</div>