<h1 id="section_about">What Is OmniTrack?</h1>
<div class="double_column">
  <div class="video">
    <iframe class="content" src="https://www.youtube.com/embed/7EEACOPfw2k" frameborder="0" allowfullscreen></iframe>
  </div>


  <div class="text">
    <div class="paragraph">
      OmniTrack is a mobile self-tracking system that enables self-trackers to construct their own trackers, thereby customizing tracking items to meet their individual needs. OmniTrack was designed based on <a target="_blank" href="https://www.microsoft.com/en-us/research/publication/semi-automated-tracking-balanced-approach-self-monitoring-applications/">semi-automated tracking concept</a>: The users can build a tracker by controlling <i>how much automated that the tracking will be</i>, thereby balancing between a capture burden and tracking feasibility.
    </div>
  </div>
</div>