<h1>What Is OmniTrack?</h1>
<div class="double_column">
  <div class="video">
    <iframe class="content" src="https://www.youtube.com/embed/zRIuENNRjEM" frameborder="0" allowfullscreen></iframe>
  </div>


  <div class="text">
    <div class="paragraph">
      OmniTrack is a mobile self-tracking system which enables self-trackers to construct their own trackers and customize tracking items to meet their individual needs. OmniTrack was designed based on the <a target="_blank" href="https://www.microsoft.com/en-us/research/publication/semi-automated-tracking-balanced-approach-self-monitoring-applications/">semi-automated tracking concept</a>: You can build a tracker by combining both <i>automated</i> and <i>manual</i> tracking methods to keep a balance between capture burden and tracking feasibility.
    </div>
  </div>
</div>