<h1>Acknowledgement</h1>
<p class="small">
  OmniTrack is currently in <b>beta</b> release. The application may contain some bugs and crash unexpectedly.
  <br>
  Throughout the Beta, we'll be keeping track of persistent issues, as well as common ones that users point out.
  <br>
  If you find any bugs and comments for improvements, do not hesitate to <a href="mailto:omnitrackapp@gmail.com">contact
    us!</a>
</p>


<p class="small">
  <strong>Contact & Bug Reports:</strong> omnitrackapp (at) gmail.com
  <br>
  (Both English and Korean are acceptable.)
</p>

<p class="small">
  <i>
    This work was in part supported by <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1753452"
      target="_blank">National Science Foundation award #1753452</a> (CAREER: Advancing Personal Informatics through
    Semi-Automated and Collaborative Tracking).
  </i>
</p>


<h3>Dependency on Google Play Services</h3>
<p class="small">
  Currently, OmniTrack for Android is heavily depends on Google Play Services, including <a
    href="https://developers.google.com/cloud-messaging/">GCM</a> and <a
    href="https://firebase.google.com/">Firebase</a>.
  This implies that OmniTrack cannot be targeted for the citizens in the countries which are restricting the access to
  the Google services (China is one prominent region for such restrictions).
</p>

<h3>
  Frameworks & Open Sources
</h3>
<p class="small">
  This website is built with <a target="_blank" href="https://angular.io">Angular</a>, hosted on <a target="_blank"
    href="https://pages.github.com/">Github Pages</a>.
</p>
<div class="paragraph small">
  The smartphone mockup images used in this website:
  <br>
  <div *ngFor="let link of mockups">
    <a target="_blank" href="{{link}}">{{link}}</a>
  </div>
</div>
