<h1 id="section_ack">Acknowledgement</h1>
<p>
  OmniTrack is currently in <b>beta</b> release. The application may contain some bugs and crash unexpectedly.
  Throughout the Beta, we'll be keeping track of persistent issues, as well as common ones that users point out.
  <br>
  If you find any bugs and comments for improvements, do not hesitate to <a href="mailto:omnitrackapp@gmail.com">contact us!</a>
</p>
<p>
  <strong>Contact & Bug Reports:</strong> omnitrackapp (at) gmail.com
  <br>
   (Both English and Korean are acceptable.)
</p>
<h3>
  Frameworks & Open Sources
</h3>
<p class="small">
  This website is built with <a target="_blank" href="https://angular.io">Angular 4</a>, hosted on <a target="_blank" href="https://pages.github.com/">Github Pages</a>.
</p>
<p class="small">
  The smartphone mockup images used in this website:
  <br>
  <a target="_blank" href="http://www.titanui.com/49889-galaxy-s6-edge-in-hand-mockup-psd/">http://www.titanui.com/49889-galaxy-s6-edge-in-hand-mockup-psd/</a>
  <br>
  <a target="_blank" href="https://lstore.graphics/freebies/iphone_7/">https://lstore.graphics/freebies/iphone_7/</a>
</p>
