<div id="header">
  <div class="center_content" id="header_content">
    <img class="logo" src="assets/images/omnitrack_new_logo.svg">
    
    <ul id="gnb">
      <li>
        About OmniTrack
      </li>
      <li>
        Publication
      </li>
      <li>
        Contribute
      </li>
      <li>
        Team
      </li>
    </ul>
  
  </div>
</div>
<app-main-banner-component></app-main-banner-component>
<div id="main" class="center_content content_padded">
  <app-members></app-members>
</div>