<div id="header">
  <div class="center_content" id="header_content">
    <img class="logo" src="assets/images/omnitrack_new_logo.svg">
    
    <ul id="gnb">
      <li>
        <a href="#section_about">About</a>
      </li>
      <li>
        <a href="#section_features">Features</a>
      </li>
      <li>
        <a href="#section_publication">Publications</a>
      </li>
      <li>
        <a href="#section_team">Team</a>
      </li>
      <li>
        <a href="#section_ack">Acknowledgement</a>
      </li>
    </ul>
  
  </div>
</div>
<app-main-banner-component></app-main-banner-component>
<div id="main" class="center_content content_padded">
  <app-about></app-about>
  <app-features></app-features>
  <app-publications></app-publications>
  <app-members></app-members>
  <app-acknowledgement></app-acknowledgement>
</div>

<div id="footer">
  <div id="footer_content">
    Copyright © 2017 The OmniTrack Team. All Rights Reserved.
  </div>
</div>