@import "../styles.scss";

$header_height: 60px;

#header{
        background: white;
        height: $header_height;
        
        @include box-shadow(0px, 1px, 6px, rgba(113, 8, 8, 0.78));
        background-color: white;
}

#header_content{
    position: relative;
    height: $header_height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px $content_hor_padding;


    position: relative;
    z-index: 100;

    .logo{
        width: 160px;
        margin-left: -6px;
    }

    #gnb{
        font-size: 14px;
        font-weight: 600;
        color: #575757;
        display: flex;
        align-items: center;
        >*{
            display:inline-block;
            margin-left: 30px;
        }

        >*:first-child{
            margin-left: 0px;
        }

        a{
            text-decoration: none;
        }

        a:link{
            color: inherit;
        }

        a:visited{
            color: inherit;
        }

        a:hover{
            color: $color_accent;
        }
    }
}

#footer{
    margin-top: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    @include horizontal-gradient($color_gradient_start, $color_gradient_end);

    #footer_content{
        text-align: center;
        color: white;
        font-size: 10pt;
    }
}

#main{
}