<div id="header">
  <div class="center_content" id="header_content">
    <img class="logo" src="assets/images/omnitrack_new_logo.svg">
    
    
    <div id="gnb">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/ubicomp2017" routerLinkActive="active">Publication</a>
        <!--
        <a class="hide_on_mobile" href="#section_about">About</a>
        <a class="hide_on_mobile" href="#section_features">Features</a>
        <a class="hide_on_mobile" href="#section_publication">Publications</a>
        <a class="hide_on_mobile" href="#section_team">Team</a>
        <a class="hide_on_mobile" href="#section_ack">Acknowledgement</a>
        -->
        <div class="fb-like" data-href="https://omnitrack.github.io" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div id="footer">
  <div id="footer_content">
    Copyright © 2017 The OmniTrack Team. All Rights Reserved.
  </div>
</div>