<h1>News</h1>

<h2>OmniTrack for Research is now open source!</h2>
<h3>A Research Platform for Conducting In-Situ Data Collection Studies</h3>
<div class="paragraph">
  <img src="assets/images/omnitrack_for_research_logo.svg" style="max-width:400px" />
  <br>
  We recently opened the source code of both the research platform backend and the OmniTrack Android application. The repository is in
  <a target="_blank" href="https://github.com/OmniTrack/omnitrack_for_research">https://github.com/OmniTrack/omnitrack_for_research</a>.
  We are currently writing a <b>user guide and documentation</b> in WIKI page (<a href="https://github.com/OmniTrack/omnitrack_for_research/wiki"
    target="_blank">https://github.com/OmniTrack/omnitrack_for_research/wiki</a>).
  Refer to the WIKI page to setup and manage your own OmniTrack server. When the documentation gets mature enough, we will publicly announce <b>OmniTrack for Research</b> and notify the subscribers.

</div>

<div class="paragraph">
  <a href="https://goo.gl/forms/qVCCoLmWaba1GO253" target="blank">Subscribe to our release news</a>
</div>

<h2>Call for Researchers</h2>
<p>
  We are looking for researchers who are interested in conducting a data collection study by <i>diaries</i> or <i>experience
    sampling (EMA)</i> using the OmniTrack platform. We are working on a research platform by extending OmniTrack to be
  used by researchers for conducting data collection studies. As a first step of this, we are designing the
  researchers' interface which supports diary study.
</p>
<div class="paragraph">
  The example diary studies we envision follows:
  <ol>
    <li>
      Self-report diaries which are personalized for each participant
    </li>
    <li>
      Self-reports + passively gathered fitness device data
    </li>
    <li>
      Data collection involving multiple sensing devices
    </li>
  </ol>
</div>

<div class="paragraph">
  If you are interested in such types of studies and have any inquiries, feel free to contact us!
</div>
<p>
  <b>OmniTrack Team</b> omnitrack4research (at) gmail.com
</p>

<h3>Important Note</h3>
<p class="small">
  Currently, OmniTrack for Android heavily depends on Google Play Services, including <a href="https://developers.google.com/cloud-messaging/">GCM</a>
  and <a href="https://firebase.google.com/">Firebase</a>.
  This implies that OmniTrack CANNOT be targeted for the citizens in the countries <b>which are restricting the access
    to the Google services</b> (China is one prominent region for such restrictions).
  <br>
  Please take this into account when you plan your deployment target audience.
</p>
