<h1>News</h1>
<p>
  We are looking for researchers who are interested in conducting a data collection study by <i>diaries</i> or <i>experience sampling (EMA)</i> using the OmniTrack platform. We are working on a research platform by extending OmniTrack to be used by researchers for conducting data collection studies. As a first step of this, we are designing the researchers' interface which supports diary study.
</p>
<div class="paragraph">
  The example diary studies we envision follows:
  <ol>
    <li>
      Self-report diaries which are personalized for each participant
    </li>
    <li>
      Self-reports + passively gathered fitness device data
    </li>
    <li>
      Data collection involving multiple sensing devices
    </li>
  </ol>
</div>

<div class="paragraph">
  If you are interested in such types of studies and have any inquiries, feel free to contact us!
  <div class="small">
    <br>
    <table>
      <tr>
        <th>
          Young-Ho Kim
        </th>
        <td>
          yhkim (at) hcil.snu.ac.kr
        </td>
      </tr>
      <tr>
        <th>
          Eun Kyoung Choe
        </th>
        <td>
          choe (at) umd.edu
        </td>
      </tr>
      <tr>
        <th>
          Bongshin Lee
        </th>
        <td>
          bongshin (at) microsoft.com
        </td>
      </tr>

      <tr>
        <th>
          Jinwook Seo
        </th>
        <td>
          jseo (at) snu.ac.kr
        </td>
      </tr>
    </table>
  </div>
</div>

<h3>Important Note</h3>
<p class="small">
  Currently, OmniTrack for Android heavily depends on Google Play Services, including <a href="https://developers.google.com/cloud-messaging/">GCM</a> and <a href="https://firebase.google.com/">Firebase</a>.
  This implies that OmniTrack CANNOT be targeted for the citizens in the countries <b>which are restricting the access to the Google services</b> (China is one prominent region for such restrictions).
  <br>
  Please take this into account when you plan your deployment target audience.
</p>