/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Open Sans', 'sans-serif';
    background: #fafafa;
    padding: 0px;
    margin: 0px;
}


.center_content{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}