$content_hor_padding: 16px;
$color_accent: #d43861;
$color_pointed: #0594c4;
$color_italic: inherit;

$color_gradient_start: #dd4255;
$color_gradient_end: #ef9a23;

$paragraph_margin_bottom: 1.5em;


@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(left, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to right, $from 0%, $to $stop);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}


@mixin respond_to_mobile(){
  @media screen and (max-width: 720px){
        @content;
    }
}

@mixin respond_to_max_width($width){
  @media screen and (max-width: $width){
        @content;
    }
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

//https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

body{
    font-family: 'Open Sans', 'sans-serif';
    background: #fafafa;
    padding: 0px;
    margin: 0px;
}

.center_content{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.content_padded{
    padding: 0px $content_hor_padding;
}


h1{
    color: $color_accent;
    font-weight: 300;
    margin-top: 2.3em;
    @include respond_to_mobile(){
        font-size: 20pt;
    }

    &:before {
        display: block;
        content: "";
        width: $content_hor_padding;
        height: 3px;
        margin-left: -$content_hor_padding;
        background: $color_accent;
    }
}

h2{
    margin-top: 2em;
    margin-bottom: 0.3em;
    font-size: 17pt;
    font-weight: 600;
    color: #252525;
    @include respond_to_mobile(){
        font-size: 13pt;
    }

    &:first-of-type{
        margin-top: inherit;
    }
}

h3{
    color: #c74b61;
    font-size: 16pt;
    font-weight: 400;
    margin-bottom: 0.4em;
    @include respond_to_mobile(){
        font-size: 14pt;
    }
}

.clear_margin_top{
    margin-top: 0;
}

p, .paragraph{
    font-size: 14pt;
    font-weight: 400;
    line-height: 1.7em;
    margin-top: 0px;
    margin-bottom: $paragraph_margin_bottom;

    color: #575757;
    @include respond_to_mobile(){
        font-size: 12pt;
    }

    i{
        color: $color_italic;
        font-weight: 600;
    }

    &:last-child{
        margin-bottom: 0px;
    }
}

.small{
    font-size: 12pt;
    margin-bottom: 1.2em;
    @include respond_to_mobile(){
        font-size: 10pt;
    }
}

strong{
    font-weight: 600;
}

a:link, a:visited{
    color: $color_pointed;
    text-decoration: inherit;
}

a:hover, a:active{
    text-decoration: underline;
}

.panel{
    padding: $content_hor_padding;
    background: #eeeeee;
    //margin-left: -$content_hor_padding;
    //margin-right: -$content_hor_padding;
}

.full_width{
    width: 100%;
}

.position_relative{
    position: relative;
}

ul.horizontal_image_list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: table;
    border-collapse: collapse;
    width: 100%;

    li{
        display: table-cell;
        padding: 2px;
    }
    img{
        display:block;
        width: 100%;
        height: auto;
    }

    @include respond_to_mobile(){
        display: inherit;
        li{
            display: inherit;
        }
    }
}



.hide_on_mobile{
    @include respond_to_mobile(){
        display: none !important;
    }
}

@keyframes
fade {  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    }
    3% {
    animation-timing-function: ease-out;
    opacity: 1;
    }
    17% {
    opacity: 1;
    }
    20% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
}