@import "../../styles.scss";

div.members{
    display: flex;
    justify-content: space-between;
    padding: 0px;


    @include respond_to_mobile(){
        justify-content: inherit;
        display: block;
    }

    div.member:hover{
        background: #e0e0e0;
    }

    div.member{
        width: 240px;
        flex-basis: 25%;
        border-radius: 12px;
        @include respond_to_mobile(){
            width: inherit;
        }

            cursor: pointer;

        a{
            color: inherit;
            text-decoration: inherit;
        }

        .member_content{
            width: 100%;
            font-size: 11pt;
            display:inline-block;
            text-align: center;
            @include respond_to_mobile(){
                text-align: left;
                display: flex;
                justify-content: center;
                margin-top: 25px;
            }

            .thumb{
                padding: 5px;
                pointer-events: none;
                width: 75%;
                margin: 0px auto;
                margin-bottom: 12px;

                @include respond_to_mobile(){
                    width: 128px;
                    height: 128px;
                    margin-bottom: 0px;
                }
                
                img{
                    width: 100%;
                    border-radius: 2000px;
                }
            }
            
            .information{
                padding: 0px 5px 5px 5px;
                pointer-events: none;
                @include respond_to_mobile(){
                    flex: 1;
                    align-self: center;
                    margin-left: 18px;
                }

                .name{
                    font-size: 13pt;
                    font-weight: 600;
                }
                
                .description{
                    margin-top: 6px;
                    line-height: 1.4em;
                    .email{
                        color: #dc613c;
                    }
                }
            }
        }
    }

    div.member:first-child{
        @include respond_to_mobile(){
            margin-top: 0px;
        }
    }
}