<h1 id="section_team">{{title}}</h1>
<div class="members">
  <div class="member" *ngFor="let member of members">
    
  <a href="{{member.web}}" target=_blank>
    <div class="member_content">
    <div class="thumb">
        <img src="assets/images/{{member.thumb}}">
    </div>
    <div class="information">
      <div class="name">
        {{member.name}}
      </div>
      <div class="description">
        {{member.title}}<br>
        {{member.affiliation}}<br>
        <span class="email">
        {{member.email}}
        </span>
      </div>
      </div>
    </div>
    </a>
  </div>
</div>
